In [2]:
import pandas as pd
import os
from datetime import datetime

In [33]:
selected_fan='1号风机'
selected_features=['YD15']
start_string = "2020-02-21 00:00:00"
end_string="2020-02-21 23:00:00"
start_date = datetime.strptime(start_string, "%Y-%m-%d %H:%M:%S")
end_date = datetime.strptime(end_string, "%Y-%m-%d %H:%M:%S")
selected_features=['YD15']
selected_fan='1号风机'

In [34]:
def predict_df(start_date,end_date,selected_features,selected_fan):
    filename = 'pred/'+ selected_fan[:1].zfill(4) + "out.csv"
    df = pd.read_csv(filename)
    start_date=pd.to_datetime(start_date)
    end_date=pd.to_datetime(end_date)
    # 根据选择的特征获取对应列的数据
    selected_columns = []
    selected_features.append('DATATIME')
    # 根据选择的日期范围筛选数据
    df['DATATIME'] = pd.to_datetime(df['DATATIME'])
    mask = (df['DATATIME'] >= start_date) & (df['DATATIME'] <= end_date)
    df = df.loc[mask]
    df = df[selected_features]
    return df

In [35]:
df=predict_df(start_date,end_date,selected_features,selected_fan)

In [37]:
df

            YD15            DATATIME
0   17753.138672 2020-02-21 00:00:00
1   17418.619141 2020-02-21 00:15:00
2   17423.437500 2020-02-21 00:30:00
3   18446.353516 2020-02-21 00:45:00
4   16225.091797 2020-02-21 01:00:00
..           ...                 ...
88  16736.675781 2020-02-21 22:00:00
89  16871.605469 2020-02-21 22:15:00
90  17384.386719 2020-02-21 22:30:00
91  16210.132812 2020-02-21 22:45:00
92  17419.275391 2020-02-21 23:00:00

[93 rows x 2 columns]