In [5]:
import pandas as pd
import os
from datetime import datetime
import altair as alt
from util.time_restart import next_update_time
import datetime

In [24]:
import pandas as pd
import datetime
now = datetime.datetime.now()
# 指定CSV文件路径
csv_file = 'data/4.csv'
# 获取当前日期
current_date = datetime.date.today()
# 读取CSV文件
df = pd.read_csv(csv_file)
# 将DATATIME列解析为日期类型
df['DATATIME'] = pd.to_datetime(df['DATATIME'])
# 筛选出今天到目前为止的行
filtered_df = df[(df['DATATIME'].dt.date == current_date)&(df['DATATIME'] <=now)]
# 获取YD15列的值
yd15_values = filtered_df[['YD15', 'DATATIME']]

In [25]:
yd15_values

      YD15            DATATIME
0     15.1 2023-07-04 00:15:00
961    7.7 2023-07-04 00:00:00
962    6.2 2023-07-04 00:15:00
963   18.9 2023-07-04 00:30:00
964    0.7 2023-07-04 00:45:00
...    ...                 ...
1041   2.7 2023-07-04 20:00:00
1042  14.2 2023-07-04 20:15:00
1043  15.5 2023-07-04 20:30:00
1044   3.6 2023-07-04 20:45:00
1045  13.8 2023-07-04 21:00:00

[86 rows x 2 columns]